html {
    margin: 0 auto;
    max-width: 1080px;
}

:root {
	--bg-color: #FCFBE3;
	--color: #000000;
	--a-link: #0000FF;
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-color: #FCFBE3;
		--color: #000000;
		--a-link: #0000FF;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #000000;
		--color: #FFFFFF;
		--a-link: #80FFFF;
	}
}

body {
    background-color: var(--bg-color, #FCFBE3);
    color: var(--color, #000000);

    font: 1em/1.6em 'Open Sans', sans-serif;
    margin: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.1em;
}

h1 {
    font-size: 2em;
}

h2 {
    text-transform: lowercase;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #CCCCCC;
}

a, a:link, a:visited {
    color: var(--a-link, #0000FF);
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

dfn {
    font-weight: bold;
}

dl {
    counter-reset: i;
}

dd:before {
    content: counter( i ) ". ";
    counter-increment: i;
}

hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid #CCCCCC;
}

footer {
    margin: 2em 0;
}

.subtitle {
    font-style: oblique;
}

.smallprint {
    font-size: 0.8em;
}
